<!DOCTYPE html>
<html>
	<head>
		<title>My first Vue app</title>
		<script src="https://unpkg.com/vue"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="style/main.css">
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
	</head>
	<body>
		<div id="app">
			<div>
				<header class="header">
					<menu class="menu">
					<div class="menu__back">
						<p><i class="fa fa-step-backward" aria-hidden="true"></i></p>
					</div>
					<div class="menu__avtar">
						<p><i class="fa fa-futbol-o fa-spin fa-2x"></i></p>
					</div>
					<div class="menu__name">
						<h3>Денис</h3>
					</div>
					</menu>
				</header>
			</div>
			<div class="content">
				<div class="message">
					<div v-for="(val, key) in myArray" :key="key">
						<div :class="[{'message__out': val.itsMy}, {'message__in': !val.itsMy}]">
							<div class="message-1">
								<p class="content-text" >
									{{val.var }}
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="input">
					<input type="text" v-model="cc" v-on:keyup.enter="myFunction()">
					<i class="fa fa-paper-plane fa-1" aria-hidden="true" @click="myFunction()"></i>
				</div>
			</footer>
		</div>
		<script>
		var app = new Vue({
			el: '#app',
			data: () => {
					return {
						myArray: [{
							var: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo illum mollitia nemo tempore veritatis nihil!-->',
							itsMy: true,
						}, {
							var: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo illum mollitia nemo tempore veritatis nihil!-->',
							itsMy: false,
						}],
						cc: ""
				};
			},
			methods: {
				myFunction() {
					if (this.cc) {
						this.myArray.push({
							var: this.cc,
							itsMy: true});

						this.cc = "";

						setTimeout(() => {
							this.myArray.push({
								var: "Текстовое сообщение",
								itsMy: false});
						}, 1000);
					}
				}
			}
		})
		</script>
	</body>
</html>
